.form {
    display: block;
    padding: 2em 0;

    &__title {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1em;
        width: 600px;
        max-width: 90%;
        margin: 0 auto;
    }

    &__field {
        display: block;
        width: 100%;

        &--half {
            width: calc(50% - 0.5em);
        }
    }
}