.result {
    display: block;
    position: relative;
    padding: 0.5em 0;

    & + & {
        border-top: 1px solid #f0f0f0;
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;

        &:hover,
        &:focus {
            & + .result__box {
                &:before {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity 200ms ease-out;
                }

                .result__title {
                    color: red;
                }
            }
        }
    }

    &__box {
        position: relative;

        &:before {
            content: '>';
            position: absolute;
            top: 50%;
            right: 0;
            height: 1em;
            line-height: 1em;
            margin: -0.5em 0 0 0;
            color: red;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 200ms linear,
                        opacity 200ms ease-out,
        }
    }

    &__title {
        color: black;
        position: relative;
        z-index: 0;
        transition: color 200ms ease-out;
    }
}