@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jppk3i');
    src: url('../fonts/icomoon.eot?jppk3i#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jppk3i') format('truetype'),
        url('../fonts/icomoon.woff?jppk3i') format('woff'),
        url('../fonts/icomoon.svg?jppk3i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}