@use "sass:map";

$icons: (
      "search": "\e900",
      "loading": "\e901"
);

@mixin icon($icon) {
      content: map.get($icons, $icon);
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}